@charset "utf-8";
/* global */
body { 
	margin:0px; 
	padding:0px; 
	font-size:12px;
	font-family:"宋体",Arial;
	background:url(../images/shop_body_bg.gif) repeat-x;
}
div, form, img, ul, ol, li, dl, dt, dd, p{ 
	margin:0px; 
	padding:0px; 
	border:0; 
}
li { 
	list-style:none; 
}
h1, h2, h3, h4, h5, h6, input { 
	margin:0px; 
	padding:0px; 
	font-size:12px; 
}
table, td, tr, th { 
	font-size:12px; 
}

a:link { 
	color: #777; 
	text-decoration:none; 
}
a:visited { 
	color: #777; 
	text-decoration:none; 
}
a:hover { 
	color: #999; 
	text-decoration:none; 
}
a:active { 
	color: #999; 
	text-decoration:none; 
}
.spaceline { 
	clear:both; 
	height:10px;
	overflow:hidden;
}
.spaceline_5 { 
	clear:both; 
	height:5px;
	overflow:hidden;
}
.spaceline_7 { 
	clear:both; 
	height:8px;
	overflow:hidden;
}
.spaceline_7 { 
	clear:both; 
	height:8px;
	overflow:hidden;
}
.spaceline_15 { 
	clear:both; 
	height:15px;
	overflow:hidden;
}
.spaceline_30 { 
	clear:both; 
	height:30px;
	overflow:hidden;
}
.clear {
	clear: both; 
	font-size:0px; 
	width:0px; 
	height:0px; 
	line-height:0px; 
	padding:0px !important;
	margin:0px !important;
}

/* header */
.header_top {
	height:34px;
	width:964px;
	margin:0px auto;
	line-height:34px;
}
.header_top span a:link , .header_top span a:visited {
	color:#ff8302;
}
.header_top ul {
	float:right;
	width:300px;
}
.header_top ul li {
	float:left;
	width:70px;
	text-align:center;
}
.header_top ul li.first {
	width:73px;
	background:url(../images/header_top_li_first.gif) no-repeat right;
	padding-left:7px;
	text-align:left;
}
.header_top ul li.third {
	background:url(../images/header_top_li_third.gif) no-repeat right;
}
.header {
	width:964px;
	margin:0px auto;
	padding-top:25px;
	height:78px;
	background:url(../images/shop_header_bg.gif) no-repeat;
}
.logo {
	width:197px;
	height:57px;
	overflow:hidden;
	float:left;
}
.header_info {
	width:490px;
	height:62px;
	overflow:hidden;
	float:right;
	text-align:right;
}
.header_info_link {
	height:35px;
	overflow:hidden;
	line-height:25px;
}
.header_info_link img {
	vertical-align:text-bottom;
}
.header_search {
	height:24px;
	overflow:hidden;
	background:url(../images/telepone.gif) no-repeat 0px 20px;
	padding-top:16px;
}
.search_text {
	height:24px;
	border:1px #ccc solid;
	line-height:22px;
	width:260px;
	background:#fff url(../images/shop_search_text_bg.gif) no-repeat;
	padding-left:26px;
	border-right:none;
}
.search_button {
	width:61px;
	height:24px;
	background:url(../images/shop_search_button_bg.gif) repeat-x;
	border:1px #ff6902 solid;
}

/* nav */
.nav {
	height:34px;
	margin:0px auto;
	width:964px;
}
.category_all {
	width:235px;
	float:left;
}
.shop_cart {
	width:130px;
	float:right;
	height:34px;
	overflow:hidden;
}
#nav_menu {
	width:500px;
	float:left;
	padding-left:20px;
}
#nav_menu li {
	float:left;
	width:86px;
	text-align:center;
	line-height:34px;
	margin:0px 5px;
}
#nav_menu li a:link , #nav_menu li a:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	color:#d93d40;
	font-weight:bold;
	font-size:14px;
	display:block;
}
#nav_menu li a:hover {
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
	color:#FFFFFF;
}
#nav_menu li a.active:link , #nav_menu a.active:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	display:block;
}
.login_main {
	padding-left:84px;
	width:880px;
	margin:0px auto;
}
.login_box {
	width:736px;
	border:1px #dddddd solid;
	height:336px;
	margin:20px 0px;
}
.login_form {
	height:248px;
	border-right:1px #dddddd solid;
	width:515px;
}
.login_form h3 {
	width:470px;
	margin:0px auto;
	border-bottom:1px #565662 solid;
	padding-top:20px;
	height:28px;
	color:#aa0f0d;
	font-size:14px;
	padding-left:12px;
}
.login_form_info_l {
	width:372px;
	float:left;
	padding-top:24px;
}
.login_form_info_item {
	height:35px;
}
.login_form_info_item span {
	width:115px;
	float:left;
	display:block;
	text-align:right;
	font-size:14px;
	padding-top:3px;
}
.login_form_info_item_input {
	float:right;
	text-align:left;
	width:252px;
}
.login_form_info_item_text {
	height:24px;
	background:url(../images/login_form_info_item_text.gif) repeat-x;
	width:250px;
	border:1px #bcbcbc solid;
}
.login_form_info_item_text_active {
	height:24px;
	background:url(../images/login_form_info_item_text.gif) repeat-x;
	width:250px;
	border:1px #ce0b09 solid;
}
.login_form_info_item a:link , .login_form_info_item a:visited {
	background:url(../images/login_form_info_item_a.gif) repeat-x;
	border:1px #c7c7c7 solid;
	padding:5px 10px;
	font-weight:bold;
	color:#333;
}


.login_form_info_r {
	width:133px;
	float:right;
	padding-top:23px;
}
.login_form_submit {
	width:98px;
	height:61px;
	background:url(../images/login_form_submit.gif) no-repeat;
	border:none;
}
.login_form_reg {
	width:714px;
	border-top:1px #dddddd solid;
	padding-left:22px;
	line-height:28px;
	padding-top:10px;
}
.login_form_reg h3 {
	color:#a30001;
	font-size:14px;
}
.login_form_reg a:link , .login_form_reg a:visited {
	background:#c40001;
	padding:5px 10px;
	font-weight:bold;
	color:#ffffff;
}


/* getpassword_main */
.getpassword_main {
	width:795px;
	height:297px;
	border:1px #dedede solid;
	margin:20px auto;
	background:url(../images/getpassword_main_bg.gif) right bottom no-repeat;
}
.getpassword_main_title {
	height:71px;
	border-bottom:1px #dedede solid;
	background:#f2f2f2;
	margin-bottom:20px;
}
.getpassword_main_title h3 {
	font-size:16px;
	padding-top:12px;
	height:32px;
	padding-left:20px;
	color:#a40001;
}
.getpassword_main_title p {
	padding-left:20px;
}
.getpassword_main_form {
	width:370px;
	padding-left:20px;
}
.getpassword_main_submit {
	width:86px;
	height:25px;
	background:url(../images/getpassword_main_submit.gif) no-repeat;
	border:none;
	color:#FFFFFF;
	line-height:25px;
}

/* reg_main */
.reg_main_top {
	width:792px;
	margin:0px auto;
	height:29px;
	overflow:hidden;
	margin-top:20px;
}
.reg_main {
	width:790px;
	margin:0px auto;
	height:420px;
	border:1px #dedede solid;
	margin-bottom:20px;
}
.reg_main_title {
	height:71px;
	border-bottom:1px #dedede solid;
	background:#f2f2f2;
	margin-bottom:20px;
}
.reg_main_title h3 {
	font-size:16px;
	padding-top:12px;
	height:32px;
	padding-left:20px;
	color:#a40001;
}
.reg_main_title p {
	padding-left:20px;
}
.reg_main_form {
	width:370px;
	padding-left:20px;
}
.reg_main_submit {
	width:142px;
	height:25px;
	background:url(../images/reg_main_submit.gif) no-repeat;
	border:none;
	color:#FFFFFF;
	line-height:25px;
}
.reg_main_succesd {
	width:790px;
	margin:0px auto;
	height:100px;
	border:1px #dedede solid;
	margin-bottom:20px;
	text-align:center;
	background:url(../images/reg_main_succesd_bg.gif) no-repeat 320px 30px;
	padding-top:130px;
}

/* member_main */
.member_main {
	width:964px;
	margin:0px auto;
}
.member_menu {
	width:200px;
	float:left;
}
.member_menu_title {
	height:28px;
	line-height:28px;
	background:url(../images/member_menu_title_bg.gif) no-repeat;
	padding-left:30px;
	font-weight:bold;
	font-size:13px;
	color:#FFFFFF;
}
.member_menu ul {
	border:1px #c3d5df solid;
	border-top:none;
	padding:10px 0px;
}
.member_menu ul li {
	padding-left:28px;
	height:31px;
	line-height:31px;
}
.member_menu ul li a.active:link , .member_menu ul li a.active:visited {
	color:#d82427;
}

.member_body {
	width:750px;
	float:right;
	border:1px #c6d7df solid;
	background:#fff;
}
.member_body_title {
	width:694px;
	height:23px;
	padding-left:7px;
	padding-top:16px;
	color:#c30000;
	font-weight:bold;
	margin:0px auto;
	background:url(../images/member_body_title_bg.gif) no-repeat;
}
.member_info {
	height:40px;
	border-bottom:1px #7f7f7f dashed;
	width:694px;
	margin:0px auto;
	line-height:40px;
}
.member_info span {
	width:130px;
	height:25px;
	float:left;
	display:block;
	text-align:right;
}
.member_info_input {
	width:560px;
	float:right;
}
.member_info_input_text {
	background:url(../images/member_info_input_text_bg.gif) repeat-x;
	height:20px;
	border:1px #c0c0c0 solid;
	width:155px;
	margin-top:10px;
}
.member_info_input_submit {
	width:65px;
	height:25px;
	text-align:center;
	color:#FFFFFF;
	background:url(../images/member_info_input_submit.gif) no-repeat;
	border:none;
}
.member_info_input_reset {
	width:65px;
	height:25px;
	text-align:center;
	color:#333;
	background:url(../images/member_info_input_reset.gif) no-repeat;
	border:none;
}

/* member_cart */
.member_cart {
	width:906px;
	margin:0px auto;
}
.member_cart h3 {
	height:38px;
	line-height:38px;
	font-size:14px;
}
.member_cart table {
	width:906px;
	border-top:1px #bcd7ec solid;
	border-left:1px #bcd7ec solid;
}
.member_cart table thead {
	height:30px;
	background:#e8f2f4;
	color:#666666;
}
.member_cart table td , .member_cart table th {
	border-right:1px #bcd7ec solid;
	border-bottom:1px #bcd7ec solid;
	text-align:center;
}
.member_cart table td {
	height:90px;
}
.member_cart table a:link , .member_cart table a:visited {
	color:#3168cc;
}
.member_cart_text {
	width:39px;
	height:19px;
	text-align:center;
	border:1px #a5acb2 solid;
}
.cart_product {
	width:320px;
	height:60px;
	overflow:hidden;
	margin:0px auto;
}
.cart_product_img {
	width:60px;
	height:60px;
	overflow:hidden;
	float:left;
}
.cart_product_img img {
	width:58px;
	height:58px;
	border:1px #a6a7a9 solid;
}
.cart_product_content {
	width:240px;
	float:right;
	padding-right:10px;
	overflow:hidden;
	line-height:22px;
	text-align:left;
}
.cart_button_l {
	width:550px;
	float:left;
	text-align:left;
	padding-left:20px;
	padding-top:5px;
}
.cart_button_m {
	width:200px;
	float:left;
	color:#ff6501;
	font-weight:bold;
	padding-top:10px;
}
.cart_button_r {
	width:120px;
	float:right;
}
.cart_button_r span {
	vertical-align:middle;
	padding-right:20px;
}
/* footer */
.footer {
	width:965px;
	margin:0px auto;
	height:120px;
	padding-top:20px;
	background:#f0f0f0;
}
.footer_link {
	width:193px;
	float:left;
}
.footer_link_img {
	width:70px;
	text-align:right;
	float:left;
}
.footer_link_content {
	width:110px;
	text-align:left;
	float:right;
}
.footer_link_content h3 {
	font-size:18px;
	height:24px;
}
.footer_link_content h3 a:link , .footer_link_content h3 a:visited {
	color:#666;
}
.footer_link_content h3 a:hover {
	color:#999;
}
.footer_link_content ul li {
	line-height:20px;
	padding-left:2px;
}
.footer_link_content ul li a:link , .footer_link_content ul li a:visited {
	color:#777;
}
.footer_link_content ul li a:hover {
	color:#999;
}
.footer_info {
	width:964px;
	margin:0px auto;
	height:60px;
	overflow:hidden;
	color:#333;
	line-height:20px;
	padding-top:8px;
}
.footer_info a:link , .footer_info a:visited {
	color:#333;
}
.footer_info a:hover {
	color:#999;
}
/* position */
.position {
	height:40px;
	line-height:40px;
	color:#777777;
}
.position a:link , .position a:visited {
	color:#777;
	background:url(../images/point_2.gif) no-repeat right;
	padding:0px 10px;
}
/* page */
.pages {
	height:30px;
	line-height:30px;
	color:#777777;
	text-align:center;
}
.pages a:link , .pages a:visited {
	color:#777;
	padding:3px 5px;
	border:1px #d3d3d3 solid;
}
.pages a.active:link , .pages a.active:visited {
	padding:3px 5px;
	border:1px #ff6d00 solid;
	background:#ff6d00;
	color:#FFFFFF;
}
.pages a:hover {
	padding:3px 5px;
	border:1px #ff6d00 solid;
	background:#ff6d00;
	color:#FFFFFF;
}


/* 二级导航 */
#nav_menu {
	width:500px;
	float:left;
	padding-left:20px;
}
#nav_menu li {
	float:left;
	width:86px;
	text-align:center;
	line-height:34px;
	margin:0px 5px;
}
#nav_menu li a:link , #nav_menu li a:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	color:#d93d40;
	font-weight:bold;
	font-size:14px;
	display:block;
}
#nav_menu li a:hover {
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
	color:#FFFFFF;
}
#nav_menu li a.active:link , #nav_menu a.active:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	display:block;
}
.category_all {
	width:235px;
	float:left;
	position: relative;
	z-index:999;
	display:inline-block;
}
.category_b {
	width:235px;
	float:left;
}
#ifrnav {
	background:#FAFFF5;
	border:1px #951315 solid;
	height: 453px;
    position: relative;
    width: 233px;
    z-index: 997;   
}
#ifrnav .items li.itemsli {
	border:1px #951315 solid;
	border-bottom:none;
    cursor: pointer;
    float: left;
    height: 63px;
    padding: 0px 9px;
    width: 203px;
}
#ifrnav .items li.onthis {
    border:1px #951315 solid;
	border-left:none;
	border-right:none;
    position: relative;
}
#ifrnav .items li.onthis .sebg {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 63px;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    z-index: 996;
}
#ifrnav .items li.onthis .name h3 a {
    color: #66666;
}
#ifrnav li.itemsli .name {
    line-height: 18px;
    margin: 15px 0 0;
    width: 180px;
}
#ifrnav li.itemsli .name a, #ifrnav li.itemsli h3 {
    color: #515150;
    display: inline;
    float: left;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    width: 60px;
    word-break: keep-all;
}
#ifrnav li.itemsli .name h3 a {
    color: #333;
    font-size: 12px;
}
#ifrnav .floor {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #951315;
    left: 203px;
    position: absolute;
    top: -1px;
    width: 512px;
    z-index: 995;
}
#ifrnav .floor li {
    border-bottom: 1px dotted #951315;
    display: inline;
    float: left;
    margin: 0 0 0 10px;
    padding: 8px 0 4px;
    width: 480px;
}
#ifrnav .floor .cap {
    font-weight: bold;
    padding: 3px 15px 0 0;
    text-align: right;
    width: 80px;
}
#ifrnav .floor .cap a {
    color: #666;
}
#ifrnav .floor .conts {
    width: 385px;
}
#ifrnav .conts a {
    border-left: 1px solid #951315;
    color: #666;
    float: left;
    height: 14px;
    line-height: 14px;
    margin: 3px 10px 5px 0;
    padding: 0 0 0 9px;
    white-space: nowrap;
    word-break: keep-all;
}
#ifrnav a:hover {
    color: #999 !important;
    text-decoration: underline;
}
#ifrnav.flaotnav {
    height: 385px;
}
#ifrnav.flaotnav {
	border: 1px solid #951315;
    left: 0;
    position: absolute;
    top: 32px;
    width: 233px;
}
#ifrnav.flaotnav li.itemsli {
    background-position: 192px 19px;
    border-left: 0 none;
    border-right: 0 none;
    height: 63px;
    padding: 0 15px;
}
#ifrnav.flaotnav .floor {
    left: 233px;
}


