@charset "utf-8";
/* global */
body { 
	margin:0px; 
	padding:0px; 
	font-size:12px;
	font-family:"宋体",Arial;
	background:url(../images/shop_body_bg.gif) repeat-x;
}
div, form, img, ul, ol, li, dl, dt, dd, p{ 
	margin:0px; 
	padding:0px; 
	border:0; 
}
li { 
	list-style:none; 
}
h1, h2, h3, h4, h5, h6, input { 
	margin:0px; 
	padding:0px; 
	font-size:12px; 
}
table, td, tr, th { 
	font-size:12px; 
}

a:link { 
	color: #777; 
	text-decoration:none; 
}
a:visited { 
	color: #777; 
	text-decoration:none; 
}
a:hover { 
	color: #999; 
	text-decoration:none; 
}
a:active { 
	color: #999; 
	text-decoration:none; 
}
.spaceline { 
	clear:both; 
	height:10px;
	overflow:hidden;
}
.spaceline_5 { 
	clear:both; 
	height:5px;
	overflow:hidden;
}
.spaceline_7 { 
	clear:both; 
	height:8px;
	overflow:hidden;
}
.spaceline_7 { 
	clear:both; 
	height:8px;
	overflow:hidden;
}
.spaceline_15 { 
	clear:both; 
	height:15px;
	overflow:hidden;
}
.spaceline_30 { 
	clear:both; 
	height:30px;
	overflow:hidden;
}
.clear {
	clear: both; 
	font-size:0px; 
	width:0px; 
	height:0px; 
	line-height:0px; 
	padding:0px !important;
	margin:0px !important;
}

/* header */
.header_top {
	height:34px;
	width:964px;
	margin:0px auto;
	line-height:34px;
}
.header_top span a:link , .header_top span a:visited {
	color:#ff8302;
}
.header_top ul {
	float:right;
	width:300px;
}
.header_top ul li {
	float:left;
	width:70px;
	text-align:center;
}
.header_top ul li.first {
	width:73px;
	background:url(../images/header_top_li_first.gif) no-repeat right;
	padding-left:7px;
	text-align:left;
}
.header_top ul li.third {
	background:url(../images/header_top_li_third.gif) no-repeat right;
}
.header {
	width:964px;
	margin:0px auto;
	padding-top:25px;
	height:78px;
	background:url(../images/shop_header_bg.gif) no-repeat;
}
.logo {
	width:197px;
	height:57px;
	overflow:hidden;
	float:left;
}
.header_info {
	width:490px;
	height:62px;
	overflow:hidden;
	float:right;
	text-align:right;
}
.header_info_link {
	height:35px;
	overflow:hidden;
	line-height:25px;
}
.header_info_link img {
	vertical-align:text-bottom;
}
.header_search {
	height:24px;
	overflow:hidden;
	background:url(../images/telepone.gif) no-repeat 0px 20px;
	padding-top:16px;
}
.search_text {
	height:24px;
	border:1px #ccc solid;
	line-height:22px;
	width:260px;
	background:#fff url(../images/shop_search_text_bg.gif) no-repeat;
	padding-left:26px;
	border-right:none;
}
.search_button {
	width:61px;
	height:24px;
	background:url(../images/shop_search_button_bg.gif) repeat-x;
	border:1px #ff6902 solid;
}

/* nav */
.nav {
	height:34px;
	margin:0px auto;
	width:964px;
}
.category_all {
	width:235px;
	float:left;
	position: relative;
}
.shop_cart {
	width:130px;
	float:right;
	height:34px;
	overflow:hidden;
}
#nav_menu {
	width:500px;
	float:left;
	padding-left:20px;
}
#nav_menu li {
	float:left;
	width:86px;
	text-align:center;
	line-height:34px;
	margin:0px 5px;
}
#nav_menu li a:link , #nav_menu li a:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	color:#d93d40;
	font-weight:bold;
	font-size:14px;
	display:block;
}
#nav_menu li a:hover {
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
	color:#FFFFFF;
}
#nav_menu li a.active:link , #nav_menu a.active:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	display:block;
}
/* shop_main */
.shop_main {
	width:964px;
	margin:0px auto;
}

.shop_main_left {
	width:235px;
	float:left;
}
.shop_main_right {
	width:725px;
	float:right;
}
/* category */
.category {
	width:233px;
	height:338px;
	border:1px #951315 solid;
	overflow:hidden;
}
.category ul {
	padding:15px;
}
.category ul li {
	margin-bottom:20px;
}
.category ul li h3 {
	height:14px;
	overflow:hidden;
	margin-bottom:10px;
}
.category ul li h3 a:link , .category ul li h3 a:visited {
	color:#333333;
}
.category ul li h3 a:hover {
	color:#999;
}
.category ul li h3 img {
	vertical-align:middle;
}
.category ul li p {
	height:40px;
	line-height:20px;
}
.category ul li p a:link , .category ul li p a:visited {
	padding-right:12px;
	color:#333333;
}
.category ul li p a:hover {
	color:#999;
}
/* shop_notic */
.shop_notic {
	width:233px;
	border:1px #d7d7d7 solid;
	height:434px;
	float:right;
	overflow:hidden;
}
.shop_notic_title {
	height:32px;
	overflow:hidden;
}
.shop_notic_title ul {
	width:234px;
}
.shop_notic_title ul li {
	float:left;
	line-height:32px;
	width:117px;
	overflow:hidden;
	text-align:center;
	font-size:14px;
}
.shop_notic_title ul li a:link , .shop_notic_title ul li a:visited {
	color:#fb5942;
}
.shop_notic_title ul li.active a:link , .shop_notic_title ul li.active a:visited {
	color:#ffffff;
}
.shop_notic_title ul li.active {
	background:url(../images/shop_notic_title_bg.gif) repeat-x;
}
.shop_notic_list {
	height:215px;
	overflow:hidden;
}
.shop_notic_list ul {
	display:none;
	padding:10px;
}
.shop_notic_list ul li {
	height:24px;
	line-height:24px;
	overflow:hidden;
	padding-left:10px;
	background:url(../images/point_1.gif) no-repeat 0px 8px;
}

.shop_category_title {
	height:50px;
	
}
.shop_category_title_link {
	width:440px;
	float:right;
	padding-top:20px;
	text-align:right;
	color:#c6c6c6;
}
.shop_category_title_link a:link, .shop_category_title_link a:visited {
	color:#333333;
}
.shop_category_title_link a:hover {
	color:#999;
}
.shop_category_title h3 {
	border-bottom:3px #d60e0e solid;
	float:left;
	font-size:20px;
	padding-top:13px;
	padding-bottom:12px;
}
.shop_category_title h3 a:link, .shop_category_title h3 a:visited {
	color:#333333;
}
.shop_category_title h3 a:hover {
	color:#999;
}
.shop_category {
	border:1px #ccc solid;
	padding:7px;
}
.shop_category_ad_l {
	width:710px;
	float:left;
}

.shop_category_list {
	width:948px;
	overflow:hidden;
}
.shop_category_list ul {
	width:950px;
	overflow:hidden;
}
.shop_category_list ul li {
	width:190px;
	overflow:hidden;
	float:left;
	background:url(../images/shop_category_list_bg.gif) right no-repeat;
	text-align:center;
}
.shop_category_list ul li img  {
	width:175px;
	height:140px;
	margin-bottom:10px;
}
.shop_category_list ul li p {
	line-height:20px;
}

.category_top {
	height:155px;
	background:url(../images/category_top_bg.gif) repeat-x;
	border:1px #d4d4d4 solid;
}
.category_top_l {
	width:750px;
	float:left;
	background:url(../images/category_top_l_bg.gif) no-repeat;
	height:155px;
}
.category_top_l h3 {
	padding-top:20px;
	color:#d61516;
	padding-left:35px;
}
.hot_product {
	width:710px;
	height:89px;
	overflow:hidden;
	margin:0px auto;
	position:relative;
	margin-top:10px;
}
.hot_product_list {
	width:670px;
	height:89px;
	position:relative;
	margin:0px auto;
}
.hot_product_list ul {
	width:3000px;
	position:absolute;
	left:0px;
	top:0px;
}
.hot_product_list ul li {
	width:200px;
	float:left;
	height:89px;
	overflow:hidden;
	border-right:1px #b30101 solid;
	padding:0px 15px 0px 13px;
}
.hot_product_list ul li img {
	float:left;
	width:85px;
}
.hot_product_list ul li p {
	float:right;
	height:22px;
	width:100px;
}
.aleft {
	width:24px;
	height:89px;
	display:block;
	position:absolute;
	z-index:999;
	left:0px;
	top:0px;
}
.aright {
	width:24px;
	height:89px;
	display:block;
	position:absolute;
	z-index:999;
	top:0px;
	right:0px;
}


.category_top_r {
	width:210px;
	float:right;
	height:155px;
	background:url(../images/category_top_r_bg.gif) no-repeat left;
}
.category_top_r h3 {
	padding-top:20px;
	color:#d61516;
	padding-left:20px;
}
.category_top h3 a:link , .category_top h3 a:visited {
	color:#d61516;
}
.category_top_r ul {
	padding:0px 20px;
}
.category_top_r ul li {
	height:24px;
	line-height:24px;
	overflow:hidden;
	padding-left:10px;
	background:url(../images/point_1.gif) no-repeat 0px 8px;
}


.category_menu {
	height:193px;
	background:url(../images/category_menu_bg.gif) repeat-x;
	border:1px #d4d4d4 solid;
}
.category_menu_item {
	height:49px;
	line-height:49px;
	padding-left:20px;
}
.category_menu_item a:link , .category_menu_item a:visited {
	padding:0px 7px;
	color:#666666;
}
.category_menu_item a:hover {
	color:#ff7800;
}
.category_menu_item a.active:link , .category_menu_item a.active:visited {
	color:#ff7800;
}
.category_menu_item span a:link , .category_menu_item span a:visited {
	padding:0px 10px;
	color:#666666;
}
.category_menu_item span a:hover {
	color:#ffffff;
	background:#ff7802;
	padding:5px 10px;
}
.category_menu_item span a.active:link , .category_menu_item span a.active:visited {
	color:#ffffff;
	background:#ff7802;
	padding:5px 10px;
}


.category_product_list {
	width:964px;
	overflow:hidden;
	border-top:1px #ccc solid;
	border-left:1px #ccc solid;
}
.category_product_list_item {
	width:240px;
	border-right:1px #ccc solid;
	border-bottom:1px #ccc solid;
	float:left;
	padding:20px 0px;
	text-align:center;
	position:relative;
}
.category_product_list_item p {
	line-height:22px;
}
.category_product_list_item_hot {
	width:53px;
	height:53px;
	position:absolute;
	z-index:99;
	top:0px;
	left:0px;
}

.shop_sider {
	width:216px;
	float:left;
	padding:0px 1px;
	border:1px #d5d5d5 solid;
	background:#f7f7f7;
	height:1100px;
	overflow:hidden;
}
.shop_sider_title {
	height:35px;
	line-height:35px;
	background:url(../images/shop_sider_title_bg.gif) repeat-x;
}
.shop_sider_title a:link , .shop_sider_title a:visited {
	color:#333;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
}
.shop_sider_title a:hover {
	color:#999999;
}
.shop_sider ul {
	height:1040px;
	overflow:hidden;
}
.shop_sider ul li  {
	width:218px;
	text-align:center;
	padding:15px 0px;
	border-bottom:1px #d6d6d6 dashed;
	height:230px;
}
.shop_sider ul li p {
	line-height:22px;
}

.product_show {
	width:730px;
	float:right;
}
.product_show_img {
	width:311px;
	float:left;
	height:316px;
	overflow:hidden;
	border:1px #d3d3d3 solid;
}
.product_show_img_b {
	width:311px;
	height:254px;
	border:1px #d3d3d3 solid;
	border-bottom:none;
}
.product_show_img_s {
	height:63px;
	overflow:hidden;
}
.product_show_img_s_l {
	width:21px;
	float:left;
}
.product_show_img_s_m {
	width:272px;
	float:left;
	height:63px;
	overflow:hidden;
}
.product_show_img_s_m ul {
	width:500px;
	overflow:hidden;
	position: relative;
}
.product_show_img_s_m ul li {
	width:68px;
	height:61px;
	float:left;
	border:1px #d3d3d3 solid;
	border-left:none;
}
.product_show_img_s_r {
	width:20px;
	float:right;
}

.product_show_info{
	width:403px;
	height:318px;
	overflow:hidden;
	float:right;
}
.product_show_info_item {
	line-height:39px;
	border-bottom:1px #c9c6d9 dashed;
}
.product_show_info_item h3 {
	color:#d93033;
}
.product_show_info_input {
	border-bottom:1px #c9c6d9 dashed;
	padding-top:10px;
	height:29px;
}
.product_show_info_item_text {
	width:30px;
	text-align:center;
}
.jiangjia {
	background:url(../images/jiangjia.gif) 130px 1px no-repeat;
}
.product_show_info_button_goumai {
	background:url(../images/product_show_info_button_goumai.gif) no-repeat;
	border:none;
	width:88px;
	height:34px;
}
.product_show_info_button_video {
	background:url(../images/product_show_info_button_video.gif) no-repeat;
	border:none;
	width:100px;
	height:34px;
}
.product_show_info_button {
	padding-top:5px;
}

.product_show_body_title {
	height:29px;
	background:url(../images/product_show_body_title_bg.gif) repeat-x;
}
.product_show_body_title ul li {
	width:88px;
	height:27px;
	line-height:27px;
	background:url(../images/product_show_body_title_li_bg.gif) no-repeat;
	float:left;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	color:#666666;
	margin-right:2px;
}
.product_show_body_title ul li.active {
	background:url(../images/product_show_body_title_li_active_bg.gif) no-repeat;
	color:#FFFFFF;
}
.product_show_body_content p {
	line-height:24px;
	text-indent:2em;
}
.product_show_body_content_item {
	display:none;
}
/* ad */
.ad_235_140 {
	width:235px;
	height:140px;
	overflow:hidden;
}
.shop_main_ad {
	width:484px;
	float:left;
}
.ad_484_140 {
	width:484px;
	height:140px;
	overflow:hidden;
}
.ad_248_287 {
	width:248px;
	height:287px;
	overflow:hidden;
	float:left;
}
.ad_231_287 {
	width:231px;
	height:287px;
	overflow:hidden;
	float:right;
}
.ad_230_185 {
	width:230px;
	height:185px;
	overflow:hidden;
	margin:0px auto;
}
.ad_233_290 {
	width:233px;
	height:290px;
	float:right;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_270_144 {
	width:270px;
	height:144px;
	float:left;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_435_144 {
	width:435px;
	height:144px;
	float:right;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_458_140 {
	width:458px;
	height:140px;
	float:left;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_247_140 {
	width:247px;
	height:140px;
	float:right;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_200_290 {
	width:200px;
	height:290px;
	float:left;
	overflow:hidden;
	background:#d6d6d6;
	margin-right:5px;
}
.ad_360_290 {
	width:360px;
	height:290px;
	float:left;
	overflow:hidden;
}
.ad_360_145 {
	width:360px;
	height:145px;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_172_290 {
	width:172px;
	height:290px;
	float:right;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_178_140 {
	width:178px;
	height:140px;
	float:left;
	overflow:hidden;
	background:#d6d6d6;
}
.ad_177_140 {
	width:177px;
	height:140px;
	float:right;
	overflow:hidden;
	background:#d6d6d6;
}
/* footer */
.footer {
	width:965px;
	margin:0px auto;
	height:120px;
	padding-top:20px;
	background:#f0f0f0;
}
.footer_link {
	width:193px;
	float:left;
}
.footer_link_img {
	width:70px;
	text-align:right;
	float:left;
}
.footer_link_content {
	width:110px;
	text-align:left;
	float:right;
}
.footer_link_content h3 {
	font-size:18px;
	height:24px;
}
.footer_link_content h3 a:link , .footer_link_content h3 a:visited {
	color:#666;
}
.footer_link_content h3 a:hover {
	color:#999;
}
.footer_link_content ul li {
	line-height:20px;
	padding-left:2px;
}
.footer_link_content ul li a:link , .footer_link_content ul li a:visited {
	color:#777;
}
.footer_link_content ul li a:hover {
	color:#999;
}
.footer_info {
	width:964px;
	margin:0px auto;
	height:60px;
	overflow:hidden;
	color:#333;
	line-height:20px;
	padding-top:8px;
}
.footer_info a:link , .footer_info a:visited {
	color:#333;
}
.footer_info a:hover {
	color:#999;
}
/* position */
.position {
	height:40px;
	line-height:40px;
	color:#777777;
}
.position a:link , .position a:visited {
	color:#777;
	background:url(../images/point_2.gif) no-repeat right;
	padding:0px 10px;
}
/* page */
.pages {
	height:30px;
	line-height:30px;
	color:#777777;
	text-align:center;
}
.pages a:link , .pages a:visited {
	color:#777;
	padding:3px 5px;
	border:1px #d3d3d3 solid;
}
.pages a.active:link , .pages a.active:visited {
	padding:3px 5px;
	border:1px #ff6d00 solid;
	background:#ff6d00;
	color:#FFFFFF;
}
.pages a:hover {
	padding:3px 5px;
	border:1px #ff6d00 solid;
	background:#ff6d00;
	color:#FFFFFF;
}


/* 二级导航 */
.category_all {
	width:235px;
	float:left;
	position: relative;
	z-index:999;
	display:inline-block;
}
.category_b {
	width:235px;
	float:left;
}
#ifrnav {
	background:#FAFFF5;
	border:1px #951315 solid;
	height: 453px;
    position: relative;
    width: 233px;
    z-index: 997;   
}
#ifrnav .items li.itemsli {
	border:1px #951315 solid;
	border-bottom:none;
    cursor: pointer;
    float: left;
    height: 63px;
    padding: 0px 9px;
    width: 203px;
}
#ifrnav .items li.onthis {
    border:1px #951315 solid;
	border-left:none;
	border-right:none;
    position: relative;
}
#ifrnav .items li.onthis .sebg {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 63px;
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    z-index: 996;
}
#ifrnav .items li.onthis .name h3 a {
    color: #66666;
}
#ifrnav li.itemsli .name {
    line-height: 18px;
    margin: 15px 0 0;
    width: 180px;
}
#ifrnav li.itemsli .name a, #ifrnav li.itemsli h3 {
    color: #515150;
    display: inline;
    float: left;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    width: 60px;
    word-break: keep-all;
}
#ifrnav li.itemsli .name h3 a {
    color: #333;
    font-size: 12px;
}
#ifrnav .floor {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #951315;
    left: 203px;
    position: absolute;
    top: -1px;
    width: 512px;
    z-index: 995;
}
#ifrnav .floor li {
    border-bottom: 1px dotted #951315;
    display: inline;
    float: left;
    margin: 0 0 0 10px;
    padding: 8px 0 4px;
    width: 480px;
}
#ifrnav .floor .cap {
    font-weight: bold;
    padding: 3px 15px 0 0;
    text-align: right;
    width: 80px;
}
#ifrnav .floor .cap a {
    color: #666;
}
#ifrnav .floor .conts {
    width: 385px;
}
#ifrnav .conts a {
    border-left: 1px solid #951315;
    color: #666;
    float: left;
    height: 14px;
    line-height: 14px;
    margin: 3px 10px 5px 0;
    padding: 0 0 0 9px;
    white-space: nowrap;
    word-break: keep-all;
}
#ifrnav a:hover {
    color: #999 !important;
    text-decoration: underline;
}
#ifrnav.flaotnav {
    height: 385px;
}
#ifrnav.flaotnav {
	border: 1px solid #951315;
    left: 0;
    position: absolute;
    top: 32px;
    width: 233px;
}
#ifrnav.flaotnav li.itemsli {
    background-position: 192px 19px;
    border-left: 0 none;
    border-right: 0 none;
    height: 63px;
    padding: 0 15px;
}
#ifrnav.flaotnav .floor {
    left: 233px;
}
