@charset "utf-8";
/* global */
body { 
	margin:0px; 
	padding:0px; 
	font-size:12px;
	font-family:"宋体",Arial;
	background:url(../images/body_bg.gif) repeat-x;
}
div, form, img, ul, ol, li, dl, dt, dd, p{ 
	margin:0px; 
	padding:0px; 
	border:0; 
}
li { 
	list-style:none; 
}
h1, h2, h3, h4, h5, h6, input { 
	margin:0px; 
	padding:0px; 
	font-size:12px; 
}
table, td, tr, th { 
	font-size:12px; 
}

a:link { 
	color: #777; 
	text-decoration:none; 
}
a:visited { 
	color: #777; 
	text-decoration:none; 
}
a:hover { 
	color: #999; 
	text-decoration:none; 
}
a:active { 
	color: #999; 
	text-decoration:none; 
}
.spaceline { 
	clear:both; 
	height:10px;
	overflow:hidden;
}
.spaceline_5 { 
	clear:both; 
	height:5px;
	overflow:hidden;
}
.spaceline_7 { 
	clear:both; 
	height:8px;
	overflow:hidden;
}
.spaceline_7 { 
	clear:both; 
	height:8px;
	overflow:hidden;
}
.spaceline_15 { 
	clear:both; 
	height:15px;
	overflow:hidden;
}
.spaceline_30 { 
	clear:both; 
	height:30px;
	overflow:hidden;
}
.clear {
	clear: both; 
	font-size:0px; 
	width:0px; 
	height:0px; 
	line-height:0px; 
	padding:0px !important;
	margin:0px !important;
}

/* header */
.header_top {
	height:34px;
	width:964px;
	margin:0px auto;
	line-height:34px;
}
.header_top span a:link , .header_top span a:visited {
	color:#ff8302;
}
.header_top ul {
	float:right;
	width:300px;
}
.header_top ul li {
	float:left;
	width:70px;
	text-align:center;
}
.header_top ul li.first {
	width:73px;
	background:url(../images/header_top_li_first.gif) no-repeat right;
	padding-left:7px;
	text-align:left;
}
.header_top ul li.third {
	background:url(../images/header_top_li_third.gif) no-repeat right;
}
.header {
	width:964px;
	margin:0px auto;
	padding-top:25px;
	height:78px;
	background:url(../images/header_bg.gif) no-repeat;
}
.logo {
	width:197px;
	height:57px;
	overflow:hidden;
	float:left;
}
.header_info {
	width:490px;
	height:62px;
	overflow:hidden;
	float:right;
	text-align:right;
}
.header_info_link {
	height:35px;
	overflow:hidden;
	line-height:25px;
}
.header_info_link img {
	vertical-align:text-bottom;
}
.header_search {
	height:24px;
	overflow:hidden;
	background:url(../images/telepone.gif) no-repeat 0px 20px;
	padding-top:16px;
}
.search_text {
	height:24px;
	border:1px #ccc solid;
	line-height:22px;
	width:260px;
	background:#fff url(../images/search_text_bg.gif) no-repeat;
	padding-left:26px;
	border-right:none;
}
.search_button {
	width:61px;
	height:24px;
	background:url(../images/search_button_bg.gif) repeat-x;
	border:1px #ff6902 solid;
}

/* nav */
.nav {
	height:34px;
	margin:0px auto;
	width:964px;
}
.category_all {
	width:235px;
	float:left;
}
.shop_cart {
	width:130px;
	float:right;
	height:34px;
	overflow:hidden;
}
.nav ul {
	width:500px;
	float:left;
	padding-left:20px;
}
.nav ul li {
	float:left;
	width:86px;
	text-align:center;
	line-height:34px;
}
.nav ul li a:link , .nav ul li a:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	color:#d93d40;
	font-weight:bold;
	font-size:14px;
	display:block;
}
.nav ul li a:hover {
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
}
.nav ul li a.active:link , .nav ul li a.active:visited {
	width:86px;
	height:34px;
	overflow:hidden;
	background:url(../images/nav_li_bg.gif) no-repeat 0px 5px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:14px;
	display:block;
}

/* shop_main */
.shop_main {
	min-height:200px;
	width:964px;
	margin:0px auto;
}

.shop_main_left {
	width:235px;
	float:left;
}
.shop_main_right {
	width:725px;
	float:right;
}
/* category */
.category {
	width:233px;
	height:338px;
	border:1px #951315 solid;
}
/* footer */
.footer {
	height:45px;
	overflow:hidden;
	widows:100%;
	background:#3d3d3d;
	color:#c9c9c9;
	line-height:20px;
	padding-top:8px;
}
.footer_info {
	width:964px;
	margin:0px auto;
}
.footer_info a:link , .footer_info a:visited {
	color:#c9c9c9;
}
/* position */
.position {
	height:40px;
	line-height:40px;
	color:#777777;
}
.position a:link , .position a:visited {
	color:#777;
	background:url(../images/point_2.gif) no-repeat right;
	padding:0px 10px;
}
/* page */
.pages {
	height:30px;
	line-height:30px;
	color:#777777;
}
.pages a:link , .pages a:visited {
	color:#777;
	padding:0px 3px;
}

