@charset "utf-8";
/* Global */
body { 
	font-family:"宋体", Arial; 
	margin:0px; 
	padding:0px; 
	font-size:12px;
}
div, form, img, ul, ol, li, dl, dt, dd, p{ 
	margin:0px; 
	padding:0px; 
	border:0; 
}
li { 
	list-style:none; 
}
h1, h2, h3, h4, h5, h6, input { 
	margin:0px; 
	padding:0px; 
	font-size:12px; 
}
table, td, tr, th { 
	font-size:12px; 
}
a:link,a:visited{ 
	color: #333; 
	text-decoration:none; 
}
a:hover { 
	color: #ff0000; 
	text-decoration:none; 
}
a:active { 
	color: #666; 
	text-decoration:none; 
}
.spaceline_5 { 
	clear:both; 
	line-height:5px; 
	height:5px; 
}
.spaceline { 
	clear:both; 
	line-height:10px; 
	height:10px; 
}
.spaceline_15 { 
	clear:both; 
	line-height:15px; 
	height:15px; 
}
.clear {
	clear: both; 
	font-size:0px; 
	width:0px; 
	height:0px; 
	line-height:0px; 
	padding:0px !important;
	margin:0px !important;
}
.header , .main , .footer , .links {
	width:1000px;
	margin:0px auto;
}
/* Header */
.header_top {
	line-height:20px;
}
.header_top p {
	float:left;
	width:350px;
}
.header_top span {
	float:right;
	width:350px;
	text-align:right;
	height:20px;
	display:block;
}
.logo {
	width:306px;
	height:70px;
	float:left;
}
.top_banner {
	width:694px;
	height:70px;
	float:right;
}
/* Nav */
.nav {
	height:60px;
	overflow:hidden;
	background:url(../images/nv_bg.gif) repeat-x;
	border-right:1px #79bece solid;
	border-left:1px #79bece solid;
	margin-top:5px;
}
.nav_top {
	height:31px;
}
.nav_top ul {
	margin-left:20px;
}
.nav_top ul li {
	float:left;
	width:80px;
	height:31px;
	text-align:center;
	font-size:14px;
	font-weight:bold;color:#010066;
	margin:0px 5px;
}
.nav_top ul li a:link , .nav_top ul li a:visited {
	color:#010066;
	width:80px;
	height:20px;
	display:block;
	padding-top:11px;
}
.nav_top ul li a:link , .nav_top ul li a:visited {
	color:#010066;
}
.nav_top ul li a:hover {
	color:#000;
	background:url(../images/nv_active.gif) no-repeat;
	width:80px;
	height:20px;
	display:block;
	padding-top:11px;
}
.nav_top ul li a.active:link , .nav_top ul li a.active:visited {
	color:#000;
	background:url(../images/nv_active.gif) no-repeat;
	width:80px;
	height:20px;
	display:block;
	padding-top:11px;
}
.nav_bottom {
	line-height:29px;
	padding-left:10px;
}
.nav_bottom a:link , .nav_bottom a:visited {
	color:#074085;
}
.nav_bottom a:hover {
	color:#074085;
	text-decoration:underline;
}
/* Main */
.menu {
	width:180px;
	float:left;
}
.dataItem {
	border:1px #c9c9c9 solid;
	padding:1px;
	overflow:hidden;
	width:176px;
}
.dataItem_title {
	height:31px;
	background:#f2f2f2;
	padding-left:3px;
}
.dataItem_title img {
	vertical-align:text-bottom;
}
.dataItem ul {
	margin:0px;
	padding-left:15px;
}
/* Left Menu */
.menu ul li {
	line-height:22px;
	height:22px;
	overflow:hidden;
	background:url(../images/point_1.gif) 0px 10px no-repeat;
	padding-left:7px;
}
.menu ul li a:link , .menu  ul li a:visited {
	color:#0765bf;
}
.menu ul li a:hover {
	text-decoration:underline;
}
/* Right Menu*/
.menu_left {
	float:left;
	width:762px;
}
/* Baojia */
.baojia {
	border:1px #dae4ed solid;
}
.baojia_title {
	height:46px;
	background:#f4f9fd;
	margin-bottom:5px;
	padding-left:15px;
	padding-top:10px;
}
.baojia_title_text {
	height:24px;
	border:1px #ccc solid;
	width:360px;
}
.baojia_title_button {
	height:26px;
}
.baojia h3 {
	height:26px;
	line-height:26px;
	background:#f4f9fd;
	color:#034aa2;
	padding-left:27px;
	font-size:14px;
}
.baojia_list {
	height:25px;
	line-height:25px;
	border-bottom:1px #ccc dashed;
	padding-left:27px;
	margin:0px 3px;
	overflow:hidden;
}
.baojia_list a:link , .baojia_list a:visited {
	padding:3px;
	color:#4371ac;
}
.baojia_list a:hover {
	color:#fff;
	background:#346cb6;
}
.baojia_list a.active:link , .baojia_list a.active:visited {
	color:#fff;
	background:#346cb6;
}
.baojia_search {
	height:23px;
	padding-left:13px;
	padding-top:3px;
}
.baojia_search input {
	vertical-align:middle;
}
.baojia_search_text {
	height:18px;
	width:54px;
	border:1px #90a3b4 solid;
}
/* Right Menu List */
.menu_list {
	width:628px;
	float:left;
}
.menu_list_title {
	height:23px;
	line-height:23px;
	background:url(../images/menu_list_title_bg.gif) repeat-x;
}
.menu_list_title ul {
	width:252px;
	float:left;
}
.menu_list_title ul li {
	height:23px;
	width:53px;
	margin-right:10px;
	float:left;
	text-align:center;
	background:url(../images/menu_list_title_li_bg.gif) no-repeat;
	color:#333;
}
.menu_list_title ul li.active {
	height:23px;
	width:53px;
	margin-right:10px;
	float:left;
	text-align:center;
	background:url(../images/menu_list_title_li_act.gif) no-repeat;
	font-weight:bold;
}
.menu_list_title_l {
	width:50px;
	float:left;
	text-align:center;
}
.menu_list_title_c {
	width:180px;
	float:left;
}
.menu_list_title_c a:link , .menu_list_title_c a:visited {
	width:50px;
	height:23px;
	display:block;
	float:left;
	margin-right:10px;
}
.menu_list_title_c a.active {
	font-weight:bold;
}
.menu_list_title_c a.first {
	background:url(../images/point_2.gif) right no-repeat;
}
.menu_list_title_c a.secend {
	background:url(../images/point_3.gif) right no-repeat;
}
.menu_list_title_c a.third {
	background:url(../images/point_4.gif) right no-repeat;
}
.menu_list_title_r {
	width:100px;
	float:right;
}
.menu_list_title_r span {
	width:39px;
	display:block;
	float:left;
	text-align:center;
	line-height:20px;
	height:20px;
}
.menu_list_title_r a:link , .menu_list_title_r a:visited {
	background:url(../images/menu_list_title_r_bg.gif) no-repeat;
	height:20px;
	width:55px;
	float:right;
	display:block;
	padding-left:6px;
	line-height:20px;
}
.menu_list_main {
	width:626px;
	overflow:hidden;
	border:1px #a1cae8 solid;
	border-bottom:none;
	border-top:none;
}
.menu_list_item {
	height:130px;
	border-bottom:1px #a1cae8 solid;
	padding:5px 0px;
}
.menu_list_item_l {
	width:136px;
	float:left;
	height:130px;
	overflow:hidden;
	text-align:center;
}
.menu_list_item_l div {
	height:130px;
	width:130px;
	margin:0px auto;
}
.menu_list_item_l div a img {
	height:130px;
	width:130px;
}
.menu_list_item_l p a:link , .menu_list_item_l p a:visited {
	background:#eaf9ff;
	border:1px #ccc solid;
	color:#0501f4;
	display:block;
	height:20px;
	width:60px;
	line-height:20px;
	margin:0px auto;
}
.menu_list_item_r {
	width:490px;
	float:left;
	height:130px;
	overflow:hidden;
}
.menu_list_item_r h3 {
	height:24px;
	line-height:24px;
	font-size:14px;
}
.menu_list_item_r h3 span.name {
	float:left;
	color:#1007c2;
	text-decoration:underline;
}
.menu_list_item_r h3 span.price {
	float:right;
	padding-right:10px;
	color:#ca0002;
}
.menu_list_item_r p span{
	height:24px;
	line-height:24px;
}
.menu_list_item_r p span.left_p {
	width:240px;
	float:left;
	overflow:hidden;
}
.menu_list_item_r p span.right_p {
	width:240px;
	float:left;
	overflow:hidden;
}
.menu_list_item_r p.info {
	text-align:right;
	padding-right:10px;
}
.menu_list_item_r p a:link , .menu_list_item_r p a:visited {
	color:#1509c3;
}
.menu_list_page {
	text-align:right;
	line-height:26px;
	margin-top:8px;
}
.menu_list_page a:link , .menu_list_page a:visited {
	background:#f3f7fa;
	border:1px #d1dbe5 solid;
	color:#086ca0;
	padding:4px 6px;
}
.menu_list_page a:hover {
	background:#7da1bb;
	border:1px #58798c solid;
	color:#effffe;
}
.menu_list_page a.active:link , .menu_list_page a.active:visited {
	background:#7da1bb;
	border:1px #58798c solid;
	color:#effffe;
	padding:4px 6px;
}
.menu_c_list_papge {
	text-align:right;
	line-height:26px;
	margin-top:8px;
}
.menu_c_list_papge a:link , .menu_c_list_papge a:visited {
	background:#f3f7fa;
	border:1px #d1dbe5 solid;
	color:#086ca0;
	padding:4px 6px;
}
.menu_c_list_papge a:hover {
	menu_list_c__papge:#7da1bb;
	border:1px #58798c solid;
	color:#effffe;
}
.menu_c_list_papge a.active:link , .menu_c_list_papge a.active:visited {
	background:#7da1bb;
	border:1px #58798c solid;
	color:#effffe;
	padding:4px 6px;
}
.ad {
	width:122px;
	float:right;
}
.ad_1 {
	width:120px;
	float:right;
	border:1px #ccc solid;
}
.ad_1 h3 {
	height:26px;
	line-height:26px;
	background:#f4f9fd;
	color:#034aa2;
	text-align:center;
}
/* menu_right */
.menu_right {
	width:226px;
	float:right;
}
.menu_right_item {
	width:222px;
	border:1px #ccc solid;
}
.menu_right_item_title {
	height:26px;
	line-height:26px;
	background:#f4f9fd;
	color:#034aa2;
	padding-left:10px;
}
.menu_right_item_title span {
	float:left;
}
.menu_right_item_title span a:link , .menu_right_item_title span a:visited {
	color:#034aa2;
	text-decoration:none;
	font-size:12px;
	float:none;
	padding:0px;
}
.menu_right_item_title a:link, .menu_right_item_title a:visited{
	color:#333;
	text-decoration:none;
	font-size:12px;
	float:right;
	padding-right:10px;
}
.menu_right_item_title a:hover{
	color:#999;
	text-decoration:none;
}
.menu_right_item ul{
	padding:0px;
	margin:5px 7px;
}
.menu_right_item ul li {
	padding-left:14px;
	background:url(../images/point_5.gif) no-repeat 0px 7px;
	height:22px;
	line-height:22px;
	font-size:12px;
	overflow:hidden;
}
.menu_right_item ul.no_bg li {
	padding-left:3px;
	background:none;
	height:24px;
	line-height:24px;
	font-size:12px;
	overflow:hidden;
}
.menu_right_item ul li a:hover {
	text-decoration:none;
}
/* List */
.big_item {
	width:498px;
	height:264px;
	border:1px #ccc solid;
	float:left;
	margin-right:10px;
}
.big_item h3 {
	height:24px;
	line-height:24px;
	font-size:14px;
}
.big_item h3 span {
	float:left;
	padding-left:10px;
}
.big_item h3 span a {
	float:none;
}
.big_item h3 a {
	float:right;
	padding-right:10px;
}
.big_item_l {
	width:240px;
	height:240px;
	float:left;
}
.big_item_r {
	width:258px;
	height:240px;
	float:right;
}
.big_item_r p {
	line-height:20px;
	padding:0px 3px;
	color:#345b96;
}
.big_item_r p a:link , .big_item_r p a:visited {
	color:#345b96;
}
.middle_item {
	width:262px;
	height:264px;
	float:left;
}
.middle_item_title {
	height:24px;
	line-height:24px;
	font-size:14px;
	font-weight:bold;
}
.middle_item_title span {
	float:left;
	padding-left:10px;
}
.middle_item_title span a {
	float:none;
	font-size:14px;
}
.middle_item_title a {
	float:right;
	padding-right:10px;
	font-size:12px;
}
.middle_item_main {
	height:240px;
	border:1px #ccc solid;
}
.middle_item_main h3 {
	height:24px;
	line-height:24px;
	font-size:12px;
	font-weight:normal;
}
.middle_item_main h3 span {
	float:left;
	padding-left:10px;
}
.middle_item_main h3 span a {
	float:none;
}
.middle_item_main h3 a {
	float:right;
	padding-right:10px;
}
.middle_item_main_content {
	text-align:center;
}
.jiqiao {
	width:218px;
	float:right;
}
.jiqiao h3 {
	height:24px;
	line-height:24px;
	font-size:12px;
}
.jiqiao h3 span {
	float:left;
	padding-left:10px;
}
.jiqiao h3 span a {
	float:none;
}
.jiqiao h3 a {
	float:right;
	padding-right:10px;
}
.jiqiao ul {
	border:1px #ccc solid;
	margin-top:3px;
}
.jiqiao ul li {
	line-height:26px;
	background:url(../images/point_5.gif) 2px 8px no-repeat;
	padding-left:15px;
}

.small_item {
	width:192px;
	height:171px;
	overflow:hidden;
	float:left;
	margin-right:10px;
	background:url(../images/small_item_bg.gif) no-repeat;
}
.small_item h3 {
	height:20px;
	width:160px;
	border-bottom:1px #ccc dashed;
	margin:0px auto;
	font-weight:normal;
	line-height:20px;
}
.small_item h3 span {
	float:left;
}
.small_item h3 span a {
	float:none;
}
.small_item h3 a {
	float:right;
}
.small_item_main {
	width:160px;
	margin:0px auto;
	height:70px;
	overflow:hidden;
	text-align:center;
}
.small_item p {
	line-height:20px;
	color:#345b96;
	width:160px;
	margin:0px auto;
	height:80px;
	overflow:hidden;
}

.zheguangzhao {
	width:192px;
	height:138px;
	overflow:hidden;
	float:left;
}
.zheguangzhao h3 {
	height:20px;
	width:180px;
	margin:0px auto;
	font-weight:normal;
	line-height:20px;
}
.zheguangzhao h3 span {
	float:left;
}
.zheguangzhao h3 span a {
	float:none;
}
.zheguangzhao h3 a {
	float:right;
}
.zheguangzhao_main {
	border:1px #ccc solid;
	width:190px;
	height:116px;
}

.googel_ad {
	margin-top:20px;
	width:796px;
	height:116px;
	border:1px #ccc solid;
	float:right;
	overflow:hidden;
}

.img_list {
	border:1px #ccc solid;
	padding-left:16px;
	width:982px;
	overflow:hidden;
}
.img_list_item {
	width:150px;
	float:left;
	overflow:hidden;
	margin-right:13px;
}
.img_list_item p{
	height:18px;
	line-height:18px;
	text-align:center;
}
.img_list_item_img {
	height:108px;
	width:148px;
	border:1px #ccc solid;
}
.img_list_item_img a img {
	width:140px;
	height:100px;
	padding:4px;
}


.notic {
	height:26px;
	line-height:26px;
	border:1px #ccc solid;
}
.notic p {
	width:700px;
	float:left;
}
.notic p a {
	float:none;
}
.notic a {
	float:right;
}

.zhitongche_title {
	background:url(../images/zhitongche_title_bg.gif) no-repeat;
	height:50px;
}
.zhitongche {
	border-left:1px #ccc solid;
	border-right:1px #ccc solid;
	width:982px;
	overflow:hidden;
	padding:5px 8px 0px 8px;
}
.zhitongche_bottom {
	background:url(../images/zhitongche_bottom_bg.gif) no-repeat;
	height:11px
}
.zhitongche_l {
	width:292px;
	float:left;
}
.bbs_top {
	height:135px;
	width:290px;
	margin-top:1px;
}
.bbs_top_img {
	height:130px;
	width:165px;
	float:left;
	background:url(../images/bbs_top_img_bg.gif) no-repeat;
	text-align:center;
	padding-top:5px;
}
.bbs_top_r {
	width:105px;
	float:right;
	height:110px;
	padding:0px 10px;
	padding-top:25px;
}
.bbs_top_r h3 {
	font-size:14px;
	height:24px;
	line-height:24px;
	color:#274c9a;
}
.bbs_top_r p {
	line-height:20px;
	color:#6f99c3;
}
.bbs_top_r p a:link , .bbs_top_r p a:visited {
	color:#274c9a;
}
.bbs_hot {
	height:164px;
	width:290px;
	background:url(../images/bbs_hot.gif) no-repeat;
	overflow:hidden;
}
.bbs_hot h3 {
	font-size:14px;
	padding-left:24px;
	line-height:32px;
	color:#335998;
}
.bbs_hot p {
	width:270px;
	margin:0px auto;
	line-height:17px;
}
.bbs_hot p a:link , .bbs_hot p a:visited {
	display:block;
	float:left;
	width:90px;
	height:17px;
	color:#254f9b;
	overflow:hidden;
}
.bbs_hot p a:hover {
	color:#FF0000;
}
.new_list {
	height:310px;
	width:420px;
	overflow:hidden;
	float:left;
	background:url(../images/new_list_bg.gif) no-repeat;
	margin-left:10px;
}
.new_list h3 {
	font-size:14px;
	padding-left:20px;
	line-height:32px;
	color:#335998;
}
.new_list ul {
	margin:5px 15px;
	padding:0px;
}
.new_list ul li {
	line-height:24px;
	font-size:14px;
	background:url(../images/point_1.gif) 0px 10px no-repeat;
	padding-left:0px;
	#padding-left:10px;
}
.new_list ul li a:link , .new_list ul li a:visited {
	color:#254f9b;
	float:left;
	background:url(../images/point_1.gif) 0px 10px no-repeat;
	padding-left:10px;
	#background:none;
	#padding:0px;
}
.new_list ul li a.auth:link ,  .new_list ul li a.auth:visited{
	float:right;
	background:none;
	font-size:12px;
	color:#a19ca0;
}
.new_list ul li a:hover {
	text-decoration:underline;
}
.hot_list {
	height:310px;
	width:250px;
	overflow:hidden;
	float:right;
	background:url(../images/hot_list_bg.gif) no-repeat;
}
.hot_list h3 {
	font-size:14px;
	padding-left:20px;
	line-height:32px;
	color:#335998;
}
.hot_list ul {
	margin:0px;
	padding:0px;
}
.hot_list ul li {
	line-height:35px;
	padding-left:35px;
}
.hot_list ul li a:link , .hot_list ul li a:visited {
	color:#254f9b;
}
.hot_list ul li a:hover {
	text-decoration:underline;
}
/* links */
.links {
	background:url(../images/links_bg.gif) repeat-x;
	padding-top:5px;
}
.links_title {
	height:28px;
	height:28px;
	padding-left:20px;
	background:url(../images/links_title_bg.gif) 5px no-repeat;
}
.links p {
	line-height:28px;
	padding-left:5px;
}
.links p a:link , .links a:visited {
	color:#000;
	text-decoration:underline;
}
/* footer */
.footer {
	background:url(../images/footer_bg.gif) repeat-x;
}
.footer p {
	line-height:22px;
	text-align:center;
}
/* Global */
.no_boder_t {
	border-top:none;
}
.no_boder_b{
	border-bottom:none;
}

/* mainLeft */
.mainLeft {
	width:810px;
	float:left;
}
.mainRight {
	width:180px;
	float:right;
}
.dataItem_1 {
	border:1px #ccc solid;
	padding:1px;
}
.dataItem_1_title {
	height:24px;
	line-height:24px;
	padding-left:10px;
	background:#eaeaea;
}
.dataItem_1 h3 {
	height:24px;
	line-height:24px;
	padding-left:10px;
	background:#eaeaea;
}
.dataItem_1 h3 span {
	float:left;
}
.dataItem_1 h3 span a {
	float:none;
	color:#386eb6;
	font-size:14px;
	font-weight:bold;
}
.dataItem_1 h3 a {
	float:right;
	font-size:12px;
	font-weight:normal;
}
.dataItem_1 ul {
	margin-top:5px;
}
.dataItem_1 ul li {
	line-height:24px;
	height:24px;
	margin:0px 8px;
}
.dataItem_1 ul li a img {
	vertical-align:middle;
}

/* product_list */
.product_list {
	border:1px #ccc solid;
	padding-left:13px;
	width:795px;
	overflow:hidden;
}
.product_list_item {
	float:left;
	height:180px;
	width:120px;
	border:1px #ccc solid;
	margin-right:10px;
	margin-top:10px;
}
.product_list_item p {
	height:20px;
	line-height:20px;
	text-align:center;
	color:#333;
	background:#efefef;
}
.product_list_item div {
	height:160px;
	width:120px;
	overflow:hidden;
}
.product_page {
	margin-right:13px;
}
.product_page p {
	float:left;
	width:500px;
	text-align:center;
	line-height:36px;
}
.product_page .menu_list_papge {
	float:right;
	width:260px;
}

/* dataItem_2 */
.dataItem_2 {
	background:#f5f8fd;
}
.dataItem_2 h3 {
	height:30px;
	line-height:30px;
	padding-left:10px;
	font-size:14px;
}
.dataItem_2 h3 span {
	float:left;
}
.dataItem_2 h3 span a:link , .seller_list h3 span a:visited {
	float:none;
	color:#444;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
.dataItem_2 h3 a:link , .seller_list h3 a:visited {
	float:right;
	font-size:12px;
	font-weight:normal;
	color:#040294;
}
.dataItem_2_first {
	margin:0px auto;
	width:170px;
	height:170px;
}
.dataItem_2_first p {
	height:20px;
	line-height:20px;
	width:160px;
	background:#fff;
	padding-left:10px;
}
.dataItem_2_first a img {
	height:150px;
	width:170px;
}
.dataItem_2 ul {
	margin:5px;
}
.dataItem_2 ul li {
	line-height:22px;
	height:22px;
	background:url(../images/point_6.gif) 0px 8px no-repeat;
	padding-left:10px;
}

/* seller_list */
.seller_list {
}
.seller_list_main {
}
.seller_list h3 {
	height:30px;
	line-height:30px;
	padding-left:10px;
}
.seller_list h3 span {
	float:left;
}
.seller_list h3 span a:link , .seller_list h3 span a:visited {
	float:none;
	color:#444;
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
}
.seller_list h3 a:link , .seller_list h3 a:visited {
	float:right;
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#040294;
}
.seller_list_item {
	width:120px;
	height:106px;
	border:1px #ccc solid;
	padding-top:5px;
	float:left;
	margin-right:15px;
}
.seller_list_item_img {
	width:110px;
	height:83px;
	overflow:hidden;
	margin:0px auto;
}
.seller_list_item p {
	height:18px;
	line-height:18px;
	width:110px;
	margin:0px auto;
	text-align:center;
}
.middle_search {
	line-height:23px;
}
.middle_search_form {
	float:left;
	width:400px;
	padding-left:10px;
}
.middle_search a:link , .middle_search a:visited {
	float:right;
	background:#2345dc;
	color:#fff;
	padding:0px 3px;
	font-size:14px;
	font-weight:bold;
}
.middle_search_form_text {
	border:1px #819cb9 solid;
	height:21px;
	#height:17px;
	width:135px;
	padding-top:0px;
	#padding-top:4px;
}
.middle_search_form_button {
	height:23px;
}

.info_list {
	border:1px #ccc solid;
	padding:1px;
}
.info_list_item {
	height:56px;
	border-bottom:1px #dfdfdf solid;
	padding-left:5px;
}
.info_list_top {
	background:#fef5d6;
	height:113px;
	border-bottom:1px #ccc solid;
}
.info_list_bottom {
	background:#fef5d6;
	height:112px;
	overflow:hidden;
}
.info_list_item_img {
	height:45px;
	width:45px;
	float:left;
	margin-top:5px;
}
.info_list_item_c {
	height:45px;
	width:570px;
	float:left;
	margin-top:5px;
	padding-left:5px;
}
.info_list_item_c h3 {
	line-height:23px;
	height:23px;
	color:#264dd8;
	font-weight:normal;
	font-size:14px;
}
.info_list_item_c h3 a:link , .info_list_item_c h3 a:visited {
	color:#264dd8;
}
.info_list_top .info_list_item_c h3 a:link , .info_list_top .info_list_item_c h3 a:visited {
	text-decoration:underline;
	color:#264dd8;
}
.info_list_bottom .info_list_item_c h3 a:link , .info_list_bottom .info_list_item_c h3 a:visited {
	text-decoration:underline;
	color:#264dd8;
}
.info_list_item_c p {
	line-height:22px;
	height:22px;
	color:#999798;
}
.info_list_item_p{
	height:45px;
	width:70px;
	float:left;
	margin-top:5px;
	line-height:45px;
	text-align:center;
}
.info_list_item_d{
	height:45px;
	width:90px;
	float:left;
	margin-top:5px;
	line-height:45px;
	text-align:center;
	color:#666867;
}
.info_list_top .info_list_item_d {
	height:45px;
	width:90px;
	float:left;
	margin-top:0px;
	line-height:24px;
	text-align:center;
	color:#666867;
	text-decoration:underline;
}

.dataItem_3 {
	background:#fff;
	padding:10px;
}
.dataItem_3 h3 {
	font-size:14px;
	padding-left:20px;
	line-height:40px;
}
.dataItem_3 p {
	line-height:20px;
	padding-left:90px;
}
.dataItem_3 p span.errro {
	background:#fff2e9;
	line-height:20px;
	height:20px;
	padding:3px 5px;
}
.dataItem_3_notic {
	border:1px #ffcc00 solid;
	padding:5px 0px;
}
.dataItem_3_notic h3 {
	line-height:24px;
	padding-left:10px;
	font-size:14px;
}
.dataItem_3_notic p {
	line-height:20px;
	padding-left:20px;
}
.dataItem_3 p a:link , .dataItem_3 p a:visited {
	text-decoration:underline;
	color:#0000fe;
}
.dataItem_3_text {
	border:1px #819cb9 solid;
	height:19px;
	#height:17px;
	padding-top:0px;
	#padding-top:2px;
}
.dataItem_3_textarea {
	border:1px #819cb9 solid;
	width:460px;
	height:200px;
	vertical-align:top;
	#vertical-align:bottom;
}
.dataItem_3_select {
	width:100px;
}
.dataItem_3_img_text_l {
	width:145px;
	float:left;
}
.dataItem_3_img_text {
	width:380px;
	height:240px;
	border:1px #999999 solid;
	float:left;
	margin-right:10px;
}
.dataItem_3_img_text_title {
	background:#f5f5f5;
	border-bottom:1px #ddd solid;
	height:23px;
	line-height:23px;
}
.dataItem_3_img_text_c {
	height:196px;	
}
.dataItem_3_img_text_bottom {
	height:19px;
	background:#f5f5f5;
	border-top:1px #ddd solid;
	line-height:19px;
	padding-left:10px;
}	
.dataItem_3_img_text_r {
	width:270px;
	float:left;
}
.dataItem_3_img_text_r p {
	padding:0px;
	margin:0px;
}