@charset "utf-8";
@import url("global.css");
.news_banner {
	height:190px;
}
/* mainLeft */
.mainLeft {
	width:230px;
	float:left;
}
.menu {
	width:135px;
	margin:70px auto;
}
.menu h3 {
	height:21px;
	line-height:21px;
	color:#3e598e;
	font-weight:bold;
	background:url(../images/ponit_5.gif) no-repeat 1px 4px;
	padding-left:17px;
	font-size:14px;
	border-bottom:1px #6a6a6a solid;
}
.menu ul li {
	height:28px;
	border-bottom:1px #6a6a6a solid;
	line-height:28px;
	background:url(../images/menu_li_bg.gif) repeat-x;
}
.menu ul li a:link , .menu ul li a:visited {
	color:#4e504f;
	font-size:14px;
	background:url(../images/ponit_2.gif) no-repeat 15px 5px;
	padding-left:35px;
	font-weight:bold;
}
.menu ul li.active a:link , .menu ul li.active a:visited {
	color:#bf3a11;
}
.menu ul li a:hover {
	color:#bf3a11;
}
.news {
	width:213px;
	margin:0px auto;
}
.news h3 {
	color:#804a3e;
	font-size:16px;
	font-weight:bold;
}
.news h3 i {
	color:#d6c6b9;
}
.news_img {
	width:213px;
	height:98px;
	overflow:hidden;
	margin-top:7px;
	border-bottom:1px #514d4c dotted;
	padding-bottom:20px;
}
.news_list {
	width:193px;
	height:80px;
	overflow:hidden;
	padding:10px 10px;
	border-bottom:1px #514d4c dotted;
	margin:0px auto;
	padding-top:0px;
}
.news_list h2 {
	height:36px;
	line-height:36px;
	font-size:16px;
}
.news_list h2 a:link , .news_list h2 a:visited {
	color:#c89053;
}
.news_list p {
	line-height:22px;
	height:44px;
	overflow:hidden;
	background:url(../images/ponit_3.gif) no-repeat 184px 27px;
}
/* mainRight */
.mainRight {
	width:600px;
	float:right;
	padding-top:40px;
}
h3.new {
	height:27px;
	background:#a4cee7;
	line-height:27px;
	padding-left:25px;
	font-size:14px;
	color:#fff;
}
.news_img_list {
	height:84px;
	overflow:hidden;
	padding-top:20px;
}
.news_img_list ul li {
	float:left;
	margin-right:2px;
}
ul.new_list {
	padding-top:20px;
}
ul.new_list li {
	line-height:28px;
	height:28px;
	background:url(../images/ponit_6.gif) no-repeat 0px 10px;
	font-size:14px;
	padding-left:10px;
	border-bottom:1px #ededed solid;
	overflow:hidden;
}
ul.new_list li a:link , ul.new_list li a:visited {
	float:left;
	width:500px;
	height:28px;
	display:block;
}
ul.new_list li span {
	width:80px;
	float:right;
	display:block;
	height:28px;
}
.pages {
	height:28px;
	line-height:28px;
	background:#f0f0f0;
	text-align:center;
}
