@import url("global.css");
/* index */
.index_body {
	width:100%;
	height:820px;
	overflow:hidden;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	z-index:99;
}
.index_body_bg {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:820px;
	z-index:9;
}
/* header */
.header {
	width:1000px;
	margin:0px auto;
}
.logo {
	width:285px;
	height:70px;
	overflow:hidden;
	float:left;
	padding-top:17px;
}
.head{ width:715px; float:left;}
.header_top a{ color:#555;}
.login_links {
	float:right;
	font-weight:bold;
	color:#000000;
}
.login_links a:link , .login_links a:visited {
	color:#000000;
}
.login_buttons {
	float:right;
	width:110px;
}
.login_submit {
	width:46px;
	height:19px;
	border:none;
	background:url(../images/login_submit_bg.gif) no-repeat;
	color:#FFFFFF;
	font-weight:bold;
}
.login_reg {
	width:46px;
	height:19px;
	border:none;
	background:url(../images/login_reg_bg.gif) no-repeat;
	color:#FFFFFF;
	font-weight:bold;
}
.login_texts {
	float:right;
	width:230px;
	overflow:hidden;
}
.login_text {
	width:62px;
	height:17px;
	border:1px #b7b9bc solid;
	line-height:17px;
}
.nav{ margin-top:10px;}
.nav ul{ margin-left:75px;}
.nav ul li{ float:left; width:80px; text-align:center; background:url(../images/menu_bj.jpg) repeat-x; height:39px; line-height:39px;}
.nav ul li a{ font-family:"微软雅黑"; color:#fff; font-size:14px;}
.nav ul li a:hover{background:url(../images/menu_h_bj.jpg) no-repeat; display:block;}
/*.nav {
	width:560px;
	height:39px;
	overflow:hidden;
	margin-top:18px;
}
.nav ul li {
	width:80px;
	height:39px;
	line-height:39px;
	overflow:hidden;
	float:left;
	text-align:center;
	background:url(../images/nav_li_bg.gif) repeat-x;
	filter:alpha(opacity=80);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
.nav ul li a:link , .nav ul li a:visited {
	width:80px;
	height:39px;
	background:url(../images/nav_li_bg.gif) repeat-x;
	display:block;
	color:#c8dae9;
	font-weight:bold;
	font-size:14px;
	filter:alpha(opacity=80);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
.nav ul li a:hover {
	width:80px;
	height:39px;
	background:url(../images/nav_li_active_bg.gif) no-repeat;
	display:block;
	color:#fff;
}
.nav ul li.active {
	background:url(../images/nav_li_active_bg.gif) no-repeat;
}
.nav ul li.active a:link , .nav ul li.active a:visited {
	width:80px;
	height:39px;
	background:url(../images/nav_li_active_bg.gif) no-repeat;
	display:block;
	color:#fff;
}*/

/* index_list */
.index_list {	
	width:953px;
	margin:0px auto;
	margin-top:360px;
	padding-left:47px;
	height:152px;
	overflow:hidden;
	background:#fff;
}
.index_list_title {
	height:19px;
	overflow:hidden;
	line-height:19px;
	background:url(../images/index_list_title_bg.gif) no-repeat;
	padding-left:6px;
}
.index_list_title a:link , .index_list_title a:visited {
	color:#FFFFFF;
}
.index_list_title .more {
	float:right; 
}
.index_list_title .more a:link , .index_list_title .more a:visited {
	color:#fb8201;
	font-size:10px; font-family:Arial, Helvetica, sans-serif;
}
.index_list_item {
	width:270px;
	float:left;
	margin-right:47px;
	overflow:hidden;
}
.index_list_item ul li a{ color:#777;
	
}
.index_list_item ul li {
	height:22px;
	line-height:22px;
	overflow:hidden;
	background:url(../images/index_list_item_li_bg.gif) no-repeat 0px 6px;
	padding-left:10px;
}

/* index_bottom */
.index_bottom {
	width:1000px;
	margin:0px auto;
	overflow:hidden;
	margin-top:20px;
}
.index_bottom_title {
	height:19px;
	overflow:hidden;
	line-height:19px;
	font-size:14px;
}
.index_bottom_title a:link , .index_bottom_title a:visited {
	color:#b5c5d7;
}
.index_bottom_title .more {
	float:right;
}
.index_bottom_title .more a:link , .index_bottom_title .more a:visited {
	color:#fb8201;
	font-size:10px; font-family:Arial, Helvetica, sans-serif;
}
.index_bottom_l {
	width:250px;
	float:left;
}
.index_bottom_l ul li {
	height:22px;
	line-height:22px;
	overflow:hidden;
	background:url(../images/point1.gif) no-repeat 0px 9px;
	padding-left:10px;
}
.index_bottom_l ul li a:link , .index_bottom_l ul li a:visited {
	color:#7e94af;
}
.index_bottom_m {
	width:390px;
	float:left;
	margin-left:80px;
}
.index_bottom_m ul li {
	height:80px;
	overflow:hidden;
	width:113px;
	float:left;
	margin-right:17px;
}
.index_bottom_r {
	width:200px;
	float:right;
}
.search {
	width:164px;
	height:19px;
	overflow:hidden;
}
.search_text {
	width:113px;
	padding:0px;
	margin:0px;
	height:17px;
	border:1px #adadad solid;
	border-right:none;
}
.search_button {
	width:46px;
	height:19px;
	border:none;
	background:url(../images/search_button_bg.gif) no-repeat;
	color:#FFFFFF;
	font-weight:bold;
	padding:0px;
	margin:0px;
}
.contact_us {
	width:170px;
	height:48px;
	overflow:hidden;
}
.footer {
	width:1000px;
	margin:0px auto;
	margin-top:50px;
	font-family:Arial, Helvetica, sans-serif;
}
.footer_info {
	width:500px;
	float:left;
}
.footer_nav {
	width:500px;
	float:right;
	text-align:right;
}
.footer,.footer a{color:#333333;}
#web-supersize{
	position:absolute;
}
#web-supersize img{ -ms-interpolation-mode: bicubic; }
#web-supersize img, #supersized a{
	height:100%;
	width:100%;
	position:absolute;
	z-index: -1;
}

#supersized .prevslide, #supersized .prevslide img{
	z-index: 1;
}
#web-supersize .activeslide, #web-supersize .activeslide img{
	z-index: 2;
}

#web-supersize img, #web-supersize a {
    display: none;
    left: 0px;
    position: absolute;
    top: 0px;
}
#web-supersize .activeslide, #web-supersize .activeslide img {
    display:inline-block
}
#web-slidecounter {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}
#web-slidecounter .bullet {
    background: url("../images/banner_icon.png") no-repeat scroll center center transparent;
    border: 0 none;
    cursor: pointer;
    height: 10px;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    width: 10px;
}
#web-slidecounter .activesbullet {
    background: url("../images/banner_active.png") no-repeat scroll center center transparent;
}
