@charset "utf-8";
@import url("global.css");
/* position */
.position {
	height:25px;
	border-bottom:1px #dfdfdf solid;
	background:url(../images/point_5.gif) no-repeat;
	padding-left:26px;
	color:#7b7b7b;
	line-height:25px;
}
.position span {
	color:#7b7b7b;
	padding-right:6px;
	float:left;
}
.position a:link , .position a:visited {
	color:#850d0c;
	font-weight:bold;
	background:url(../images/point_6.gif) no-repeat;
	padding-left:10px;
	display:block;
	float:left;
	height:25px;
}
.mainPage {
	border:3px #dfdfdf solid;
	padding:0px 16px;
	line-height:24px;
	font-size:14px;
	color:#6d6d6d;
}



.list_con_li .box2{ background:#f8f8f8;border-top:1px solid #dedede; }

.list_news_tit {clear: left;float: left;text-align: left;min-width:510px;overflow:hidden;text-indent:19px;margin-top:3px;background:url(../images/titleico.GIF) no-repeat 8px 13px; line-height:35px;}
.list_news_tit a {text-decoration: none;font-size:14px;color:#CC0000; }
.list_news_tit a:hover {color: #666;text-decoration:underline;}
.list_news_tit a:visited {color: #666;text-decoration: none;}

.list_news_info {clear: right;color: #666;float: right;font: 400 11px Tahoma;margin: 12px 10px 0px 0px!important;margin: 12px 5px 0px 0px;}


.box2 {clear: left;color: #333;font: 400 12px "宋体";text-align: left;line-height:25px;width:97%;padding:10px;background:#fff;border-top:1px dashed #ddd; overflow:hidden; }
.box2 a:link,.box2 a:visited{ color:#FF7E00}

#list_moban{ padding:5px 0 0 0; margin:5px 0; text-align:left;}
#list_moban ul{ overflow:hidden;  padding-left:50px; }
#list_moban ul li{ float:left; border-bottom:1px solid #DBD9DA; width:160px; padding-right:32px; height:190px; padding-bottom:10px; padding-top:5px; margin:10px 0 0 0; overflow:hidden;}
.list_m_d { width:132px; height:190px; overflow:hidden;}
.list_m_d a{display:block;width:122px; height:170px; color:#555;padding:7px 6px 6px 7px; background:#fff url(/img/mbbg_1.gif) no-repeat 0 0;}
.list_m_d a:hover{ color:#060;background:#fff url(/img/mbbg_1.gif) no-repeat 0px -198px; text-decoration:none;}
.list_m_d img{ width:120px; height:150px;}
.list_m_d h3{ text-align:center;width:122px;height:20px; line-height:20px; padding-top:14px;overflow:hidden; font-size:14px; font-weight:400; cursor:pointer; }
.list_m_d a:hover h3{ text-decoration:underline;}
#list_moban ul li.ggaa{ border:1px solid #eee;*margin:-8px 0 10px 7px!important;margin:-8px 0 10px 2px; float:left; height:250px; text-align:left; width:670px; padding:10px 5px 10px 15px;display:none;}

